<% if user_signed_in? %>
<h1><%= t('hello')%>,<%= current_user.name %></h1>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
 <%= link_to "Edit", edit_user_registration_path, :class => 'navbar-link'  %>
 <%= link_to "My account", user_path(current_user)%>
 <h1>Campaigns</h1>
<td>
  <p>By author:</p>
  <% @users.each do |user| %>
   <%= user.name %>
    <%= render user.campaigns %>
  <% end %>
  </td>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>