<%= form_with(model: [@campaign, @campaign.news.build]) do |form| %>
  <div class="field">
    <p>
    <%= form.text_field :title %>
      </p>
  </div>
  <% markitup  %>
  <div class="field">
    <p>
      <%= form.text_area :body  %>
    </p>
  </div>
  <% t('news.add_image') %>
  <div class="field">

    <%= form.file_field :image%>
  </div>
    <%= form.submit t('news.add_news') %>
<% end %>
