<%= form_with(model: [@campaign, @campaign.news.build]) do |form| %>
  <div class="field">
    <p>
      <%= t'campaign.name' %>
    <%= form.text_field :title %>
      </p>
  </div>
  <%= form.hidden_field :campaign_id, :value => @campaign.id %>
  <% markitup  %>
  <div class="field">
    <p>
      <%= form.text_area :body  %>
    </p>
  </div>
    <%= form.submit t('news.add_news') %>
<% end %>
