<% if user_signed_in? %>
  <%if @user == current_user %>
<%= link_to t('delete campaign'),campaign_path,method: :delete %>
    <%end %>
  <%end %>
<p>
<h1><%= @campaign.name %></h1>
<p>
  <%= t('tags.tags')%>: <%= raw @campaign.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>
<br/>
<% if @campaign.images.attached? %>
  <% @campaign.images.each do |image| %>
    <%= image_tag(image, width: 200) %>
  <% end %>
<% end %>
</p>
<% unless @video_url.nil? %>
<div class="container">
      <iframe height="300" width="600" src=<%= @video_url %> frameborder="0" scrolling="yes" allowfullscreen></iframe>
</div>
<% end %>
<p>
  <strong><%= t 'campaign.description'%>:</strong>
  <%= @campaign.description %>
</p>
<p>
  <strong><%= t 'campaign.end_time'%>:</strong>
  <%= @campaign.end_time %>
</p>

<p>
  <strong><%= t 'campaign.target_amount'%>:</strong>
  <%= @campaign.target_amount %>
</p>
<p>
  <strong><%=t 'comment.comments' %></strong>
  <% @campaign.comments.each do |comment| %>
    <%= render comment %></p>
  <% end %>
  <%= render 'comments/form' %>
</p>